.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

#heroBaru {
  width: 100%;
  height: 100vh;
  background: url("../images/gambar0.png") top center;
  background-size: 1540px 780px;
  position: relative;
}

#heroBaru .hero-btn {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#heroBaru .btn-get-started {
  display: inline-block;
  padding: 100px 120px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("../images/gambar0.png") top center;
    background-size: cover;
    position: relative;
    padding: 0;
  }

  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero .container {
    padding-top: 110px;
  }

  @media (max-width: 992px) {
    #hero .container {
      padding-top: 98px;
    }
  }

  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }

  #hero h1 span {
    color: #cda45e;
  }

  #hero h2 {
    color: #eee;
    margin-bottom: 10px 0 0 0;
    font-size: 22px;
  }

  .about {
    background: url("../images/gambar3.png") center center;
    background-size: cover;
    position: relative;
    padding: 80px 0;
  }

  .about:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .about .about-img {
    position: relative;
    transition: .5s;
  }

  .about .about-img img {
    max-width: 100%;
    border: 4px solid rgba(255, 255, 255, 0.2);
    position: relative;
  }

  @media (min-width: 1024px) {
    .about {
      background-attachment: fixed;
    }
  }

.about-features {
	margin-top: 100px!important;
}

.about-features p {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

.about-features .container .row {
	padding-bottom: 0px!important;
	border-bottom: none!important;
}

.best-features {
	margin-top: 50px;
}

.best-features .container .row {
	border-bottom: 1px solid #eee;
	padding-bottom: 60px;
}

.best-features img {
	width: 100%;
	overflow: hidden;
}

.best-features h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 20px;
}

.best-features ul.featured-list li {
	display: block;
	margin-bottom: 10px;
}

.best-features p {
	margin-bottom: 25px;
}

.best-features .filled-button {
	margin-top: 20px;
}

.contact-form-box {
      
  width: 50%;

  margin: 10px auto;

  padding: 0;

}



#contactForm .floating-label-form-group {

  font-size: 14px;

  position: relative;

  margin-bottom: 0;

  padding-bottom: 20px;

  border-bottom: 1px solid #ddd

}



#contactForm .floating-label-form-group.floating-label-form-group-with-focus {

  position: relative

}



#contactForm .floating-label-form-group:after,

#contactForm .floating-label-form-group:before {

  position: absolute;

  bottom: -1px;

  width: 0;

  height: 2px;

  background-color: #E78340;

  content: "";

  transition: width .4s ease-in-out;

  display: block

}



#contactForm .floating-label-form-group:before {

  right: 20%

}



#contactForm .floating-label-form-group:after {

  left: 20%

}



#contactForm .floating-label-form-group.floating-label-form-group-with-focus:after,

#contactForm .floating-label-form-group.floating-label-form-group-with-focus:before {

  width: 50%

}



#contactForm .floating-label-form-group input,

#contactForm .floating-label-form-group textarea {

  z-index: 1;

  position: relative;

  padding-right: 0;

  padding-left: 0;

  border: none;

  border-radius: 0;

  font-size: 14px;

  font-family: Roboto, Arial, sans-serif;

  font-weight: 400;

  background: 0 0;

  box-shadow: none!important;

  resize: none

}



#contactForm .floating-label-form-group label {

  display: block;

  z-index: 0;

  position: relative;

  top: 2em;

  margin: 0;

  font-size: 12px;

  font-family: Roboto, Arial, sans-serif;

  font-weight: 300;

  line-height: 1.764705882em;

  opacity: 0;

  -webkit-transition: top .3s ease, opacity .3s ease;

  -moz-transition: top .3s ease, opacity .3s ease;

  -ms-transition: top .3s ease, opacity .3s ease;

  transition: top .3s ease, opacity .3s ease

}



#contactForm .floating-label-form-group::not(:first-child) {

  padding-left: 14px;

  border-left: 1px solid #eee

}



#contactForm .floating-label-form-group-with-value label {

  top: 0;

  opacity: 1

}



#contactForm .floating-label-form-group-with-focus label {

  color: #E78340

}



#contactForm {

  border-top: 1px solid #ddd

}



#contactForm textarea.form-control {

  height: auto

}



#contactForm .form-control {

  display: block;

  width: 100%;

  color: #555

}



#contactForm input:active,

#contactForm input:focus,

#contactForm textarea:active,

#contactForm textarea:focus {

  outline: 0

}



#contactForm .btn,

#contactForm .contact-form-button-submit {

  font-family: Roboto, Arial, sans-serif;

  font-weight: 700;

  text-transform: uppercase;

  font-size: 18px;

  letter-spacing: 1px;

  border-radius: 0;

  padding: 0 25px;

  height: 51px;

  line-height: 51px;

  color: #333;

  background-color: #fff;

  border: 1px solid #ccc;

  cursor: pointer;

  margin: 20px 0 0;

  background-image: none

}



#contactForm .contact-form-button {

  height: 51px;

  line-height: 51px

}



#contactForm .btn-default:focus,

#contactForm .btn-default:hover,

#contactForm .contact-form-button-submit:focus,

#contactForm .contact-form-button-submit:hover {

  background-color: #E78340;

  border: 1px solid #E78340;

  color: #fff

}



.contact-form-error-message-with-border,

.contact-form-success-message-with-border {

  background: #fff;

  border: 1px solid #ddd;

  bottom: 0;

  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

  color: #666;

  font-size: 16px;

  font-weight: 400;

  line-height: 30px;

  opacity: 1;

  position: static;

  text-align: center;

  margin: 20px 0 0

}



.contact-form-cross {

  height: 11px;

  margin: 0 5px;

  vertical-align: 0!important;

  width: 11px;

  -moz-box-shadow: none!important;

  -webkit-box-shadow: none!important;

  -goog-ms-box-shadow: none!important;

  box-shadow: none!important

}



.contact_layout {

  text-align: center;

  position: fixed;

  top: 0;

  left: 0;

  bottom: 0;

  right: 0;

  background: rgba(0, 0, 0, .8);

  z-index: 99999

}



.contact_message {

  width: 30%;

  background: #fff;

  border-radius: 5px;

  padding: 20px;

  border: 1px solid transparent;

  text-align: center;

  color: #333;

  position: absolute;

  top: 10%;

  left: 50%;

  margin-left: -25%;

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

}



.contact_message:before {

  content: "\f164";

  font-family: FontAwesome;

  font-weight: 500;

  font-size: 30px;

  display: block;

  margin-bottom: 10px;

}

.btn-light{
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.btn-light:hover{
  background: #E78340;
  border: 2px solid #E78340;
  color: #fff;
}

@media screen and (max-width:768px) {

  .contact_message {

    width: 90%!important;

    margin-left: -45%!important;

  }

  .contact-form-box {

    width: 100%;

  }

}

/* Style Kategori Game */
#hero-kategori {
  width: 100%;
  height: 100vh;
  background: url("../images/gambar-bg.png") top center;
  background-size: 1580px 780px;
  position: relative;
}

#hero-kategori .hero-btn {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero-kategori .btn-mudah {
  display: inline-block;
  padding: 20px 30px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 56px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 50px;
  transition: 0.5s;
  margin: 30px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: #5E7CE7;
}

#hero-kategori .btn-sedang {
  display: inline-block;
  padding: 20px 30px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 56px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 50px;
  transition: 0.5s;
  margin: 30px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: #EDF054;
}

#hero-kategori .btn-sulit {
  display: inline-block;
  padding: 20px 50px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 56px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 50px;
  transition: 0.5s;
  margin: 30px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: #E42E06;
}

#hero-kategori .btn-mudah:hover{
  transform: scale(1.25);
}

#hero-kategori .btn-sedang:hover{
  transform: scale(1.25);
}

#hero-kategori .btn-sulit:hover{
  transform: scale(1.25);
}

#back .btn-back{
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0px 10px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  color: rgb(0, 0, 0);
}

#back .btn-back:hover{
  transform: scale(1.25);
}

#header{
  background: transparent;
}

/* Style List Level */
#hero-kategori .btn-level-mudah {
  display: inline-block;
  padding: 20px 30px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 56px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 50px;
  transition: 0.5s;
  margin: 30px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: #47B7B7;
}

#hero-kategori .btn-level-mudah:hover{
  transform: scale(1.25);
}

#hero-kategori .btn-level-sedang {
  display: inline-block;
  padding: 20px 30px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 56px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 50px;
  transition: 0.5s;
  margin: 30px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: #ADAF2F;
}

#hero-kategori .btn-level-sedang:hover{
  transform: scale(1.25);
}

#hero-kategori .btn-level-sulit {
  display: inline-block;
  padding: 20px 30px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 56px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 50px;
  transition: 0.5s;
  margin: 30px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: #B71717;
}

#hero-kategori .btn-level-sulit:hover{
  transform: scale(1.25);
}

/* style dalam game */
#hero-games {
  width: 100%;
  height: 100vh;
  background: url("../images/bg-game.jpg") top center;
  background-size: 1580px 780px;
  position: relative;
}

#hero-games .hero-game {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

div.soal {
  opacity: 0.9;
  margin: 30px;
  border: 1px solid black;
  background-color: #ffffff;
  filter: alpha(opacity=90); /* This is for IE8 and other earlier browsers */
}

div.soal p {
  margin: 5%;
  color: black;
  font-weight: bold;
}

#hero-games .btn-soal-mudah {
  display: inline-block;
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 5px;
  transition: 0.5s;
  margin: 30px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: #C4C4C4;
}

#hero-games .btn-soal-mudah:hover{
  transform: scale(1.25);
}

/* style leaderboard */
#back .leaderboard{
  font-weight: 500;
  font-size: 80px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0px 10px;
  transition: 0.5s;
  color: rgb(0, 0, 0);
}

#back .leaderboard:hover{
  transform: scale(1.25);
}

#hero-leaderboard {
  width: 100%;
  height: 100vh;
  background: url("../images/bg-leaderboard.jpg") top center;
  background-size: 1580px 780px;
  position: relative;
}

#hero-leaderboard .hero-board {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

div.leaderboard {
  opacity: 0.8;
  margin: 30px;
  border: 5px solid #E9958A;
  background-color: #AF1259;
  filter: alpha(opacity=80); /* This is for IE8 and other earlier browsers */
  max-width: 500px;
  max-height: 420px;
  overflow: auto;
}

div.leaderboard h2{
  margin-bottom: 40px;
}

div.leaderboard th, td {
  margin: 5%;
  color: black;
  font-weight: bold;
}

div.leaderboard table{
  border: 2px solid black;
}

div.leaderboard td{
  border: 2px solid black;
}

div.leaderboard th{
  border: 2px solid black;
}